html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0.9;
}
header{
    width: 100%;
}

ul{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 20px;
    margin: auto;
    font-size: 15px;
    font-weight: 700;
}
a{
    text-decoration: none;
    color: rgb(148, 91, 91);
}

#home{
    background: linear-gradient(160deg, rgb(243, 241, 241) 50%, rgb(20, 20, 20) 50%);
    width: 100%;
    height: 100vh;
    position: relative;
}

.home1{
    position: absolute;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    font-size: larger;
    font-weight: 600;
    box-shadow: 2px 3px 5px 2px #4e4e4e;
}

.home1:hover, .testimonial:hover,.pics:hover,button:hover,input:hover,.social p:hover{
    transform: scale(1.03);
    transition: 1s;
    box-shadow: 1px 1px 5px 1px #c3e332;
    filter: none;
    animation-play-state: paused;
}
.home p{
    width: fit-content;
    padding: 0;
}
.black {
    right: 150px;
    bottom: 130px;
    background-color: rgb(0, 0, 0);
    color: white;
    animation: b 2s linear;
}

.white {
    top: 130px;
    left: 150px;
    background-color: rgb(255, 255, 255);
    color: black;
    animation: a 2s linear;
}

.center-quote {
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    letter-spacing: 7px;
    margin-top: 250px;
    width:100%;
}
.light {
    margin-left: -30%;
    color: black;
}
.shadows{
    color: white;
    margin-left: 30%;
}
li{
    position: sticky;
    top:10px;
}

@keyframes a{
    from{
        transform: translateY(-30px);
    }
    to{
        transform: translateY(0px);
    }
}

@keyframes b{
    from{
        transform: translateY(30px);
    }
    to{
        transform: translateY(0px);
    }
}

.v{
 margin: auto;
 color: white;
 width:fit-content;
 font-size: 20px;
 font-weight:lighter;
 margin-top: 33vh;
 animation: v 2s infinite;
}

@keyframes v{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(0);
    }
}
section{
    padding-top: 20px;
    padding-bottom: 20px;
}
.about{
    height: 850px;
}
#about{
    background-image: linear-gradient(90deg,rgb(217, 215, 215), rgb(18, 18, 18));
}
#about h2,.quote, h2{
    text-align: center;
    letter-spacing: 7px;
}

.philosophy p{
    margin: 0;
    letter-spacing: 1px;
}

.philosophy{
    width:30%;
    height: fit-content;
    overflow: hidden;
    padding: 35px;
    font-style: italic;
    font-size: 20px;
    font-weight: 600;
    text-align: justify;
    box-shadow: 2px 3px 5px 2px #4e4e4e;
    position: relative;
    border-radius: 20px;
    animation: views both;
    animation-timeline: view(100% 0%);
}

.philosophy:hover{
    box-shadow: 1px 1px 5px 1px #c3e332;
    z-index: 1;
}
@keyframes views{
    from{
        transform: translateX(-100px);
    }
    to{
        transform: translateX(0px);
    }
}

.black1{
    background-color: rgb(51, 51, 51);
    color: white;
    left: 45%;
    top: -400px;
}
.white1{
    background-color: rgb(190, 188, 188);
    left: 25%;
}
.whitedark{
    background: linear-gradient(136deg, rgb(195, 193, 193) 50%, rgb(34, 34, 34) 50%);
    left: 35%;
    top: -200px;
}
#gallery{
    /* background-color: #d0cfcf; */
    background-image: radial-gradient(rgb(227, 223, 223)0%, rgb(52, 51, 51)60%,rgb(22, 21, 21) 100%);
    color: white;
}
.banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
}

.banner .slider {
    position: absolute;
    width: 150px;
    height: 200px;
    top: 15%;
    left: calc(50% - 75px);
    transform-style: preserve-3d;
    animation: autoRun 20s linear infinite;
    z-index: 2;
}

@keyframes autoRun {
    from {
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }
    to {
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}

.banner .slider .item {
    z-index: 1;
    position: absolute;
    inset: 0 0 0 0;
    transform:
        rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) 
        translateZ(450px);
}

.banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner .slider .item:hover{
    box-shadow: 1px 1px 5px 1px #c3e332;
    transition: 1s;
}

.testimonials{
    position: relative;
    display: flex;
    gap: 20px;
    width: 98.5%;
    flex-direction: row;
    background-color: white;
    padding: 10px;
    overflow-x: auto;
    animation: u 30s linear infinite;
}

.testimonial{
    background-color: rgb(239, 237, 237);
    margin-left: 10px;
    box-shadow: 0px 1px 1px 0px rgb(146, 144, 144);
    border-radius: 5px;
    font-style: italic;
    padding: 10px;
    position: relative;
    width: 500px;
    filter: grayscale();
    margin-bottom: 10px;
}
.testimonial:hover important{
    filter: none;
    animation-play-state: paused;
}


 @keyframes u{
    0%{
        left:0px;
        }
    50%{
        left:-15%;
        width: 113%;
    }
    100%{
        left: 0px;
    }
 }

.testimonial img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 2px #4e4e4e;
}
#contact{
    background-color: rgb(1, 1, 1);
    color: white;
    padding: 20px;
    margin-top: -15px;
}
#contact h2{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10%;
}
input{
    width: 200px;
    height: 40px;
}
button{
  width: 100px;
  height: 50px;
  background-image: radial-gradient(white,rgb(67, 67, 67));
  border: none;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
}
input,textarea{
    margin-top: 5px;
    box-shadow: 1px 1px 3px 1px #4e4e4e;
}

.contacts{
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-left: 10%;
    padding-bottom: 20px;
}
.socials{
    margin-left:35%;
    width: 500px;
}
.social p{
    border: solid;
    width: 270px;
    padding: 20px;
}
.social a{
    color:white;
}
footer,footer text{  
    text-align: center;
    height: 10px;
    font-size: 12px;
}
.cover{
    width: 100%;
    height: 20px;
    background-color: rgb(1, 1, 1);
    position: relative;
    top: -12px;
}
