html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0.9;
}
header{
    width: 100%;
}

ul{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 20px;
    margin: auto;
    font-size: 15px;
    font-weight: 700;
}
a{
    text-decoration: none;
    color: rgb(148, 91, 91);
}

#home{
    background: linear-gradient(160deg, rgb(243, 241, 241) 50%, rgb(20, 20, 20) 50%);
    width: 100%;
    height: 100vh;
    position: relative;
}

.home1{
    position: absolute;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    font-size: larger;
    font-weight: 600;
    box-shadow: 2px 3px 5px 2px #4e4e4e;
}

.home1:hover, .testimonial:hover,.pics:hover,button:hover,input:hover,.social p:hover{
    transform: scale(1.03);
    transition: 1s;
    box-shadow: 1px 1px 5px 1px #c3e332;
    filter: none;
}
.home p{
    width: fit-content;
    padding: 0;
}
.black {
    right: 150px;
    bottom: 130px;
    background-color: rgb(0, 0, 0);
    color: white;
}

.white {
    top: 130px;
    left: 150px;
    background-color: rgb(255, 255, 255);
    color: black;
}

.center-quote {
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    letter-spacing: 7px;
    margin-top: 250px;
    width:100%;
    /* margin-left: 180px; */
}
.light {
    margin-left: -30%;
    color: black;
}
.shadows{
    color: white;
    margin-left: 30%;
}
li{
    position: sticky;
    top:10px;
}
 
.v{
 margin: auto;
 color: white;
 width:fit-content;
 font-size: 20px;
 font-weight:lighter;
 margin-top: 33vh;
 animation: v 2s infinite;
}

@keyframes v{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(0);
    }
}
section{
    padding-top: 20px;
    padding-bottom: 20px;
}
.about{
    display: flex;
    justify-content: space-evenly;
    height: 450px;
    
}
#about{
    background-image: radial-gradient(rgb(244, 237, 237), rgb(48, 47, 47));
}
#about h2,.quote, h2{
    /* margin: auto; */
    text-align: center;
    letter-spacing: 7px;
}
.philosophy{
    width:25%;
    height: 10px;
    overflow: hidden;
    padding: 15px;
    font-style: italic;
    font-size: 20px;
    font-weight: 600;
    text-align: justify;
    box-shadow: 2px 3px 5px 2px #4e4e4e;
    animation: v 2s 3;
    position: relative;
    transition: 4s ease-in;
    border-radius: 10px;
    letter-spacing: 1px;
    
}
.philosophy:hover{
    height: 430px;
    box-shadow: 1px 1px 5px 1px #c3e332;
    animation: v 2s infinite;
}
.black1{
    background-color: rgb(51, 51, 51);
    color: white;
}
.white1{
    background-color: rgb(190, 188, 188);
}
.whitedark{
    background: linear-gradient(136deg, rgb(195, 193, 193) 50%, rgb(34, 34, 34) 50%);
}
#gallery{
    text-align: center;
    background-color: #f4efef;
}
.gallery{
    padding: 20px;
    margin: auto;
    width: 70%;
    row-gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pics{
    width: 500px;
    height: 250px;
}
img{
    width: 100%;
    height: 100%;
}

.testimonials{
    position: relative;
    display: flex;
    gap: 20px;
    width: 98.5%;
    flex-direction: row;
    background-color: white;
    padding: 10px;
    overflow-x: auto;
    animation: u 30s linear infinite;
}

.testimonial{
    background-color: rgb(239, 237, 237);
    margin-left: 10px;
    box-shadow: 0px 1px 1px 0px rgb(146, 144, 144);
    border-radius: 5px;
    font-style: italic;
    padding: 10px;
    position: relative;
    width: 500px;
    filter: grayscale();
}

 @keyframes u{
    0%{
        left:0px;
        }
    50%{
        left:-15%;
        width: 113%;
    }
    100%{
        left: 0px;
    }
 }

.testimonial img{
    width: 300px;
    height: 300px;
}
#contact{
    background-color: rgb(1, 1, 1);
    color: white;
    padding: 20px;
}
#contact h2{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10%;
}
input{
    width: 200px;
    height: 40px;
}
button{
  width: 100px;
  height: 50px;
  background-image: radial-gradient(white,rgb(67, 67, 67));
  border: none;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
}
input,textarea{
    margin-top: 5px;
    box-shadow: 1px 1px 3px 1px #4e4e4e;
}

.contacts{
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-left: 10%;
    padding-bottom: 20px;
}
.socials{
    margin-left:35%;
    width: 500px;
}
.social p{
    border: solid;
    width: 270px;
    padding: 20px;
}
.social a{
    color:white;
}
footer,footer text{
    
    text-align: center;
    height: 10px;
    font-size: 12px;
}
