body {

    padding: 0;
    font-family: Bitcount Grid Double;
}


li {
    display: inline-block;
    padding: 20px;
    height: 100px;
    width: 100px;
    background-color: aqua;
}

img {
    display: block;
    border: 1px solid black;
    margin: auto;
    height: 200px;
    width: 400px;
    margin-top: 10px;


}

#n {
    position: absolute;
    height: 100px;
    width: 200px;
    top: 90px;
    left: 165px;
    opacity: 0.6;
}

.box1 {
    width: 100px;
    height: 100px;
    background-color: aqua;
border: 1px solid black;
    

}

.box {
    display: flex;
    justify-content: space-between;
    width: 500px;
}
#a{
    background-image: linear-gradient(135deg, rgb(169, 24, 123) 30%, rgb(4, 211, 208) 100%);
}

#c{
    background-image:repeating-linear-gradient(45deg, red, yellow,blue 10px)
}
#b {
    visibility: hidden;
}

a {
    padding: 20px;
    color: rgb(199, 28, 28);
    font-size: 30px;
   
}

a:hover {
    color: rgb(201, 214, 217);
}

a:active {
    color: chartreuse;
}

p::first-line{
    color: brown;
}
h2::first-letter{
    color: blue;
}
p::selection{
    background-color: aqua;
}

#d{
    box-shadow:  1px 1px 40px 15px rgb(224, 118, 5);
    border-radius: 50px;
    background-image: radial-gradient(
        orange,
        yellow,
        rgb(252, 15, 15)
    );
    margin: auto;
    margin-top: 30px;
}

.fl{
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:end;
    background-color: rgb(197, 198, 199);
    padding: 10px;
    flex-wrap:  wrap;
    flex-wrap: wrap;
    
}
#e{
    order:5 ;
}
#f{
    order:4 ;
}
#g{
    order:2 ;
}
#h{
    order:3 ;
    flex-grow: 2;
}
#i{
    order:1 ;
    flex-grow: 1;
}
#j{
    order:0 ;
    flex-grow: 3;
}