*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}

.one{
    border: solid;
    position:absolute;
    background-image: linear-gradient(90deg, white 50%, black 50%);
}

.two{
    position: absolute;
    border: solid;
    top:200px;
    height: 400px;
    width: 100%;
    display: flex;
    background:url(/project2/images2/);
    background-position: center;
    background-size: cover;
    align-items: center;
    background-repeat: no-repeat;
    width: fit-content;
}

h1{
    color: #fff;
   mix-blend-mode: difference;
   text-align: center;
   font-size: 4em;
  
}